nav {
    background-color: #315042;
    color: #ffffff;
}

.userBox {
    background-color: #000000;
    color: #ffffff;
    height: 40px;
    padding: 9px;
    font-weight: 700;
    font-size: 10px;
}